<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <div class="sidebar">
        </div>

        <div class="main">
            <div class="content px-4">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
