@page "/Notification"
@using System.Net
@using ElectronNET.API
@using ElectronNET.API.Entities
@{
    Layout = "_Layout";
}

<button id="basic-noti">click</button>

<script type="text/javascript">
    const notification = {
      title: 'Notification for button',
      body: 'Notification body'
    }

    const notificationButton = document.getElementById('basic-noti')

    notificationButton.addEventListener('click', () => {
        console.log('clicked') //for borser test
      const myNotification = new window.Notification(notification.title, notification)//windows api cannot be used if using brower
    })
</script>
@{

    NotificationOptions options = new NotificationOptions("Notification", "You will see the notification once you click 'Notifiation' on Navbar");
    Electron.Notification.Show(options);
}



